<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'anotherstyle.css' ) }}">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dignissimos perferendis dolor debitis. Voluptatem provident dolorem iusto soluta, doloremque natus numquam qui blanditiis, corrupti maxime accusantium tempore, molestias nemo mollitia.
    
</body>
</html>